.footer {
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: var(--black);
  color: var(--white);
}

.footer-logo {
  margin-bottom: 20px;
  width: 132px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  width: 132px;
  height: 24px;
  fill: var(--white);
  stroke: var(--white);
}

.footer-socials {
  fill: var(--white);
}

.footer-top {
  margin-bottom: 120px;
}

.slogan {
  margin-bottom: 20px;

  font-size: 38px;
  line-height: 1.16;
  letter-spacing: -0.02em;
}

.slogan span {
  font-style: italic;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;

  color: var(--grey);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.terms-wrapper {
  display: flex;

  gap: 10px;
}

.terms {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.terms button {
  background-color: transparent;
  color: var(--white);
  border: none;
  outline: none;
  padding: 0;
  transition: color var(--transition-timing);
}

.terms button:hover,
.terms button:focus {
  color: rgba(244, 244, 244, 0.4);
}

@media screen and (max-width: 767px) {
  .social-wrap {
    margin-bottom: 40px;
  }

  .terms-wrapper {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 16px;
  }

  .footer-logo {
    margin-bottom: 32px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  .slogan {
    max-width: 434px;
    font-size: 56px;
    line-height: 1.07;

    margin-bottom: 32px;
  }

  .terms-wrapper {
    gap: 70px;
  }
}

@media screen and (min-width: 1440px) {
  .form-wrapper {
    display: flex;
    gap: 115px;
  }

  .slogan {
    max-width: 595px;
  }

  .footer-top {
    margin-bottom: 70px;
  }

  .terms-wrapper {
    gap: 115px;
  }

  .footer-bottom {
    margin-right: 308px;
  }
}
