.hero {
  padding: 0;
}
.icon-hero {
  width: 38px;
  height: 38px;
  color: var(--black);
  position: absolute;
  top: 5px;
}
.cont-position-icon {
  position: relative;
}
.hero-main-title {
  color: var(--black);
  font-size: 38px;
  line-height: 44px;
  letter-spacing: -0.007em;
  margin-bottom: 20px;
  font-weight: 400;
}
.text-hero-italic {
  font-style: italic;
}
.hero-text {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.003em;
  margin-bottom: 20px;
}
.img-hero {
  margin-bottom: 20px;
}
.hero-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
}
.item-list-hero {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--black);
}
.text-list-hero {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.block-hero {
  padding-bottom: 20px;
  padding-top: 40px;
}
.small-img-hero {
  display: none;
}
.hero-list-for-des {
  display: none;
}
@media screen and (min-width: 768px) {
  .icon-hero {
    width: 59px;
    height: 59px;
  }
  .img-hero {
    width: 100%;
  }
  .hero-main-title {
    line-height: 74px; /* 100% */
    letter-spacing: -1.48px;
    font-size: 74px;
    width: 639px;
  }
  .text-hero-italic {
    font-style: italic;
  }
  .hero-list {
    justify-content: end;
  }
  .hero-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
    width: 528px;
    margin-bottom: 32px;
  }
  .img-hero {
    margin-bottom: 16px;
  }
  .text-list-hero {
    font-size: 16px;
    line-height: 24px;
  }
  .block-hero {
    padding-bottom: 32px;
  }
  .cont-text-small-img {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-list-for-des {
    display: flex;
    width: 197px;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
  }
  .hero-list {
    display: none;
  }

  .small-img-hero {
    height: 100px;
    display: block;
  }
  .cont-text-small-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  .block-small-img-teg {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
