.exercise-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
  z-index: 998;
  animation: grow 1s linear;
}


.exercise-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  min-height: 720px;
  margin-left: auto;
  margin-right: auto;
  background: var(--black);
  color: var(--white);
  padding: 40px 20px;
  border-radius: 20px;
}

.exercise-card-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background-color: transparent;
  line-height: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.exercise-card-close-icon {
  width: 24px;
  height: 24px;
  stroke: var(--white);
  transition: stroke var(--transition-timing);
}

.exercise-card-close-btn:hover .exercise-card-close-icon,
.exercise-card-close-btn:focus .exercise-card-close-icon {
  stroke: var(--white-transparent-40);
}

.exercise-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
}

.exercise-card-img-wrap {
  display: flex;
  width: 295px;
  height: 258px;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  flex-shrink: 0;
   margin-bottom: 20px;
}

.exercise-card-img-wrap::after {
  content: '';
  position: absolute;
  width: 295px;
  height: 258px;
  background-color: var(--img-overlay);
}

.exercise-card-img-wrap img {
  width: 295px;
  height: 258px;
  border-radius: 12px;
}

.exercise-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.exercise-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}

.exercise-card-rating {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  gap: 2px;
}

.exercise-card-details-list {
  border-top: 1px solid var(--white-transparent-20);
  border-bottom: 1px solid var(--white-transparent-20);
  padding: 10px 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.details-name {
  color: var(--white-transparent-40);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4px;
}

.details-value {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  text-transform: capitalize;
}

.exercise-card-description {
  color: var(--white-transparent-60);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

.exercise-card-btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  border: 1px solid var(--white);
}

.add-favorites-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 6px;
  transition: background-color, color var(--transition-timing);
}

.add-rating-btn {
  background-color: transparent;
  color: var(--white);
  padding: 12px 19px;
  transition: background-color, color var(--transition-timing);
}

.add-favorites-btn:hover{
  background-color: var(--black);
  color: var(--white);
}

.add-rating-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.favorites-icon {
  fill: transparent;
  stroke: var(--black);
  transition: stroke var(--transition-timing);
}

.add-favorites-btn:hover .favorites-icon {
  stroke: var(--white);
}


@media screen and (min-width: 768px) {
  .exercise-modal {
    width: 704px;
    min-height: 440px;
    padding: 32px;
  }

  .exercise-card {
    flex-direction: row;
  }

  .exercise-card-close-btn {
    top: 16px;
    right: 16px;
    width: 28px;
    height: 28px;
  }

  .exercise-card-close-icon {
    width: 28px;
    height: 28px;
  }

  .exercise-card-img-wrap {
    width: 270px;
    height: 259px;
    margin-right: 32px;
    margin-bottom: 0;
  }

  .exercise-card-img-wrap::after {
    width: 270px;
    height: 259px;
  }

  .exercise-card-img-wrap img {
    width: 270px;
    height: 259px;
  }

  .exercise-card-title {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 8px;
  }

  .exercise-card-rating {
    margin-bottom: 16px;
  }

  .exercise-card-details-list {
    padding: 8px 0;
    gap: 16px;
    margin-bottom: 16px;
  }

  .exercise-card-btn-group {
    margin-top: 64px;
  }

  .add-rating-btn {
    padding: 12px 22px;
  }

}


@media screen and (min-width: 1440px) {
  .exercise-modal {
    width: 708px;
  }

  .add-rating-btn {
    padding: 12px 24px;
  }
}
