.gallery-box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .gallery-box {
    row-gap: 32px;
  }
}

.gallery-list {
  align-content: flex-start;
  display: flex;
  row-gap: 20px;
}

.gallery-list li {
  transition: opacity var(--transition-timing);
}

.gallery-list.unmounting li {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .gallery-list {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list {
    flex-wrap: wrap;
    row-gap: 32px;
  }

  .gallery-list {
    column-gap: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .gallery-list[data-cards='subfilters'],
  .gallery-list[data-cards='exercises'] {
    margin-right: -1px;
    margin-left: -1px;
  }
}

@media screen and (min-width: 1440px) {
  .favorites-body {
    max-height: calc(100vh - 323px);
  }
  .favorites-body .pagination-container {
    display: none;
  }
  .gallery-list[data-cards='favorites'] {
    padding-bottom: 12px;
    height: 100%;
    overflow-y: scroll;
  }
}

.not-found-gallery {
  margin: 0 auto;
}
