.mobile-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--modal-overlay);
    z-index: 999;
    transition: opacity var(--transition-timing), visibility var(--transition-timing);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} 

.is-hidden .mobile-menu {
    transform: translateX(100%);
}

.mobile-menu {
    transform: translateX(0%);
    margin-left: auto;
    margin-right: auto;
    z-index: 999999;
    width: 375px;
    height: 100vh;
    padding-bottom: 20px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform var( --transition-timing);
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background-color: transparent;
    line-height: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
 .close-mobile-burger-menu-icon{
    width: 32px;
    height: 32px;
    stroke: var(--white);
    transition: stroke var(--transition-timing);
 }

 .mobile-menu-close-btn:hover .close-mobile-burger-menu-icon,
 .mobile-menu-close-btn:focus .close-mobile-burger-menu-icon {
    stroke: var(--white-transparent-40);
 }
 
.mobile-menu-nav-wrap {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

 .mobile-menu-nav-list {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
 }
 
 .mobile-menu-nav-link:hover,
 .mobile-menu-nav-link:focus  {
    transition: opacity var(--transition-timing);
 }

 .mobile-menu-nav-link:hover,
 .mobile-menu-nav-link:focus {
color: var(--white-transparent-40)
 }  
 
@media screen and (min-width: 768px) {
    .mobile-menu-backdrop{
        display: none;
    }
}
