.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  z-index: 9999;
  width: 335px;
  border-radius: 20px;
  background: #242424;
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity var(--transition-timing),
    visibility var(--transition-timing);
}

.modal .loader {
  left: 44%;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 430px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.modal__close-btn {
  display: block;
  justify-content: center;
  align-items: center;
  right: 14px;
  top: 14px;
  background-color: transparent;
  stroke: #f4f4f4;
  border: none;
  position: absolute;
  cursor: pointer;
  transition: stroke var(--transition-timing);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  stroke: rgba(244, 244, 244, 0.4);
}

.title_rating {
  display: block;
  padding-top: 40px;
  color: rgba(244, 244, 244, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.users_rating {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding-top: 8px;
  margin-bottom: 20px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .users_rating {
    margin-bottom: 32px;
  }
}

.number_rating {
  color: #f4f4f4;
  font-feature-settings: 'clig' off, 'liga' off;
}

.email_field {
  display: block;
  padding: 12px 14px 12px 14px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #f4f4f4;
  background: none;
  height: 42px;
  width: 100%;
  color: rgba(244, 244, 244, 0.6);
  margin-bottom: 3px;
  transition: stroke var(--transition-timing);
}

@media screen and (min-width: 768px) {
  .email_field {
    height: 48px;
  }
}

.email_field:hover,
.email_field:focus {
  border: 1px solid rgba(244, 244, 244, 0.6);
  outline: 0;
}

.comment_field {
  color: rgba(244, 244, 244, 0.6);
  display: inline-flex;
  padding: 12px 14px 63px 14px;
  align-items: center;
  border-radius: 15px;
  background: none;
  border: 1px solid #f4f4f4;
  width: 100%;
  height: 93px;
  resize: none;
  margin-top: 15px;
  transition: stroke var(--transition-timing);
}

.comment_field:hover,
.comment_field:focus {
  border: 1px solid rgba(244, 244, 244, 0.6);
  outline: 0;
}

@media screen and (min-width: 768px) {
  .comment_field {
    padding: 12px 14px 70px 14px;
    height: 106px;
    margin-top: 21px;
  }
}

.btn_submit {
  display: flex;
  width: 100%;
  height: 42px;
  padding: 12px 131px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #f4f4f4;
  border: none;
  margin-top: 20px;
  margin-bottom: 40px;
  transition: background-color, color var(--transition-timing);
}

.btn_submit:hover,
.btn_submit:focus {
  background: #242424;
  color: #f4f4f4;
  border: 1px solid #f4f4f4;
  margin-bottom: 40px;
  outline: 0;
}

@media screen and (min-width: 768px) {
  .btn_submit {
    height: 48px;
    margin-top: 32px;
  }
}

.error {
  color: #f16b6b;
  font-size: 12px;
  position: absolute;
}

.error-email {
  padding-left: 20px;
}

.error-comment {
  padding-left: 20px;
}

.give_a_rating {
  position: relative;
}

.error-rating {
  margin-top: 45px;
}

.label-field {
  position: relative;
}

/* radio button */

.rating {
  float: left;
  border: none;
  transition: color var(--transition-timing);
}
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
  float: right;
  width: 26px;
  height: 26px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: rgba(244, 244, 244, 0.2);
}
.rating:not(:checked) > label:before {
  content: '★ ';
}
.rating > input:checked ~ label {
  color: #eea10c;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}
.rating > label:active {
  position: relative;
}
