.js-scroll-top-button {
  border: none;
  padding: 0;
  display: grid;
  place-items: center;
  background-color: var(--black);
  border-radius: 50px;
  width: 40px;
  height: 40px;
  transition: 0.2s;
  position: fixed;
  right: 20px;
  bottom: 50px;
}
.scroll-top-icon-wrapper {
  display: grid;
  place-items: center;
  background-color: var(--black);
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .js-scroll-top-button {
    right: 32px;
  }
}
.hide-scroll-top-button {
  opacity: 0;
  transform: translateY(-25px);
  transition: 0.2s;
  visibility: hidden;
}
.scroll-top-icon {
  max-width: 13px;
  max-height: 13px;
  fill: var(--white);
}
.js-scroll-top-button:hover .scroll-top-icon-wrapper {
  background-color: var(--white);
  border-color: var(--black);
}
.js-scroll-top-button:hover .scroll-top-icon {
  fill: var(--black);
}

.js-scroll-top-button-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
