.search-form {
  position: relative;
}

.search-form-hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .search-form {
    margin-bottom: 20px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .search-form {
    width: 273px;
  }
}

.search-input {
  display: block;
  width: 100%;
  padding: 12px 46px 12px 14px;
  font-size: 14px;
  line-height: 1.43;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  outline: 1px solid var(--black);
}

@media screen and (min-width: 768px) {
  .search-input {
    font-size: 16px;
    line-height: 1.5;
  }
}

.search-input::placeholder {
  color: var(--black);
}

.search-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 13px 14px;
  border: none;
  line-height: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .search-button {
    padding: 15px 16px;
  }
}

.search-button:hover .search-icon {
  transform: scale(1.3);
}

.search-icon {
  transition: transform var(--transition-timing);
}
