.exercises-item-image {
    border-radius: 12px;
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 
 .exercises-item {
    position: relative;
    max-width: 335px;
    height: 225px;
 }
 
 
 .exercises-item-container {
    width: 100%;
 }
 
 .exercises-item-container::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: var(--picture-overlay);
 }
 
 .exercises-item-container:hover:after {
   position: absolute;
   top: 0;
   left: 0;
   content: "";
   width: 100%;
   height: 100%;
   border-radius: 12px;
   background-color: rgba(17, 17, 17, 0.8);
}

 .exercises-proprties-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
 }
 
 .exercises-item-name {
    color: var(--white);
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    font-family: DM Sans;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 2px;
 }
 
 .exercises-item-type {
    text-align: center;
    color: var(--white-transparent-40);
    font-family: DM Sans;
    font-size: 12px;   
    line-height: 150%;   
 }
 
 @media screen and (min-width: 376px) {
    .exercises-item {
       max-width: none;
       width: 335px;
       height: 225px;
    }
 }
 
 @media screen and (min-width: 768px) {
    .exercises-item {
       width: 225px;
       height: 225px;
    }
    .exercises-item-name {    
       font-size: 24px;
       line-height: 100%;
       
    }
 }
 
 @media screen and (min-width: 1440px) {
    .exercises-item {
       width: 290px;
       height: 242px;
    }
 }