@keyframes shake {
    0% {
      transform: rotate(0deg);
    }
  
    10% {
      transform: rotate(-10deg);
    }
  
    20% {
      transform: rotate(10deg);
    }
  
    30% {
      transform: rotate(-10deg);
    }
  
    40% {
      transform: rotate(10deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }