<div class="aside">
  <ul class="aside-list">
    <li class="aside-list-item item-flex aside-item-quote">
      <div class="aside-icon-container quote-container-color">
        <svg class="aside-icon" height="20" width="20">
          <use href="./img/icons.svg#icon-running-stick-figure"></use>
        </svg>
      </div>
      <div class="js-quote">
        <h3 class="title-quote list-item-title">
          Quote of the day
          <svg class="quote-inverted-commas aside-icon" height="20" width="20">
            <use href="./img/icons.svg#icon-inverted-commas"></use>
          </svg>
        </h3>
      </div>
    </li>

    <li class="aside-list-img"></li>

    <li class="li-relative">
      <div class="li-container list-item-hto item-flex">
        <div class="aside-icon-container hto-container-color">
          <svg class="aside-icon" height="20" width="20">
            <use href="./img/icons.svg#icon-dumbbel"></use>
          </svg>
        </div>
        <div>
          <h3 class="list-item-title">110 min</h3>
          <p class="list-item-subtitle list-item-text">Daily norm of sports</p>
          <p class="list-item-text item-text-container">
            The World Health Organization recommends at least 150 minutes of
            moderate-intensity aerobic physical activity throughout the week for
            adults aged 18-64. However, what happens if we adjust that number to
            110 minutes every day? While it might seem like a high number to
            hit, dedicating 110 minutes daily to sporting activities may offer
            unparalleled benefits to physical health, mental well-being, and
            overall quality of life.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
