<section class="section-exercises">
  <div class="container">
    <div class="exercises-header">
      <div class="exercises-titles">
        <h2 class="exercises-title">Exercises</h2>
        <div class="js-subtitle">
          <!-- <span class="exercises-title">&nbsp;/</span>
          <h3 class="exercises-subtitle">Waist</h3> -->
        </div>
        <button class="js-back-button back-button back-button-hidden" type='button'>Go back</button>
      </div>
      <div class="exercises-filters">
        <load ="partials/search-form.html" />
        <ul class="js-filter filter-buttons">
          <li>
            <button
              class="filter-button filter-button-active"
              type="button"
              data-filter="muscles"
            >
              Muscles
            </button>
          </li>
          <li>
            <button class="filter-button" type="button" data-filter="bodypart">
              Body parts
            </button>
          </li>
          <li>
            <button class="filter-button" type="button" data-filter="equipment">
              Equipment
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="exercises-body">
      <div class="gallery-box">
        <ul data-cards="subfilters" class="js-gallery gallery-list"></ul>
        <ul class="js-pagination"></ul>
      </div>
      <load ="partials/aside.html" />
    </div>
  </div>
</section>
