<div class="favorite-aside">
  <ul class="favorite-aside-list">
    <li class="favorite-list-item item-flex aside-item-quote">
      <div class="aside-icon-container quote-container-color">
        <svg class="aside-icon" height="20" width="20">
          <use href="./img/icons.svg#icon-running-stick-figure"></use>
        </svg>
      </div>
      <div class="js-quote">
        <h3 class="title-quote list-item-title">
          Quote of the day
          <svg class="quote-inverted-commas aside-icon" height="20" width="20">
            <use href="./img/icons.svg#icon-inverted-commas"></use>
          </svg>
        </h3>
        <p class="favorite-text-quote">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <p class="list-item-text autor-quote">Tom Brady</p>
      </div>
    </li>

    <li class="favorite-list-item list-item-hto">
      <div class="aside-icon-container favorite-icon">
        <svg class="" height="20" width="20">
          <use href="./img/icons.svg#icon-dumbbel"></use>
        </svg>
      </div>
      <div>
        <h3 class="favorite-hto">110 min</h3>
        <p class="list-item-subtitle list-item-text">Daily norm of sports</p>
      </div>
    </li>

    <li class="favorite-aside-img favorite-list-item"></li>
  </ul>
</div>
