<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="social-wrap">
        <a href="./index.html" class="footer-logo" aria-label="your energy">
          <svg class="footer-icon" aria-label="Burger mobile menu btn">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <load ="partials/socials.html" />
      </div>
      <div class="form-wrapper">
        <p class="slogan">Transforming your <span>body</span> shape with us</p>
        <load ="partials/subscribe-form.html" />
      </div>
    </div>
    <div class="footer-bottom">
      <div class="terms-wrapper">
        <p>Your Energy. All rights reserved.</p>
        <p class="terms">
          <span>Privacy Policy</span><span>Terms of Service</span>
        </p>
      </div>
      <p>&copy; 2023</p>
    </div>
  </div>
</footer>
