<footer class="footer">
  <div class="container">
    <div class="social-wrap">
      <p class="logo"><a href="/home">You energy</a></p>
      <load ="partials/socials.html" />
    </div>
    <div class="footer-middle">
      <p class="slogan">Transforming your <span>body</span> shape with us</p>
      <load ="partials/subscribe-form.html" />
    </div>
    <div class="footer-bottom">
      <div class="terms-wrapper">
        <p>Your Energy. All rights reserved.</p>
        <p><span>Privacy Policy</span><span>Terms of Service</span></p>
      </div>
      <p> &copy; 2023</p>
    </div>
  </div>
</footer>