<header class="header container">
  <nav class="nav">
    <a href="./index.html" class="logo-link" aria-label="your energy">
      <svg class="logo-icon" aria-label="Burger mobile menu btn">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="nav-list">
      <li class="nav-item nav-home">
        <a href="./index.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item nav-favorites">
        <a href="./favorites.html" class="nav-link">Favorites</a>
      </li>
    </ul>
  </nav>
  <load ="partials/socials.html" />
  <button
    class="mobile-menu-open-btn js-burger"
    type="button"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <span class="visually-hidden">Open menu</span>
    <svg class="mobile-menu-open-btn-icon" aria-label="Burger mobile menu btn">
      <use href="./img/icons.svg#icon-burger"></use>
    </svg>
  </button>
</header>
