<header class="header">
  <div class="container  header-container">
    <nav class="nav">
      <a href="./index.html" class="logo-link" aria-label="your energy">
        <svg class="logo-icon" aria-label="Burger mobile menu btn">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="js-nav-home nav-link nav-home">Home</a>
        </li>
        <li class="nav-item">
          <a href="./favorites.html" class="js-nav-favorites nav-link nav-favorites">Favorites</a>
        </li>
      </ul>
    </nav>
    <load ="partials/socials.html" />
    <button
      class="mobile-menu-open-btn js-burger"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <span class="visually-hidden">Open menu</span>
      <svg class="mobile-menu-open-btn-icon" aria-label="Burger mobile menu btn">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
