<div class="mobile-menu-backdrop is-hidden">
  <div class="mobile-menu" id="mobile-menu">
    <button class="mobile-menu-close-btn" type="button">
      <svg
        class="close-mobile-burger-menu-icon"
        aria-label="Modal window close icon"
      >
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="mobile-menu-nav-wrap">
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a href="./index.html" class="js-nav-home mobile-menu-nav-link">Home</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="./favorites.html" class="js-nav-favorites mobile-menu-nav-link"
              >Favorites</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <load ="partials/socials.html" />
  </div>
</div>
