<div class="backdrop is-hidden js-terms-modal">
  <div class="policy-modal">
    <h2 class="policy-title">Terms of Service</h2>
    <div class="scroll-container">
      <button class="policy-modal-close-btn js-terms-modal-close" type="button">
        <svg class="close-mobile-menu-icon" aria-label="terms modal close icon">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="policy-text-wrap">
        <ol class="policy-terms-list">
          <li class="policy-terms-list-item">
            <p class="policy-terms-list-subtitle">Acceptance of Terms</p>
            <p class="policy-terms-list-text">
              Welcome to EnglishExcellence! These Terms of Service
              (&#34;Terms&#34;) outline the terms and conditions for using our
              English language courses and services (collectively referred to as
              the &#34;Services&#34;). By accessing or using our Services, you
              agree to comply with and be bound by these Terms. If you do not
              agree with these Terms, please do not use our Services.
            </p>
          </li>
          <li class="policy-terms-list-item">
            <p class="policy-terms-list-subtitle">Services Overview</p>
            <p class="policy-terms-list-text">
              EnglishExcellence is dedicated to providing engaging and effective
              English language courses in a supportive and stimulating learning
              environment. Our aim is to help learners enhance their English
              language skills through our courses.
            </p>
          </li>
          <li class="policy-terms-list-item">
            <p class="policy-terms-list-subtitle">
              Content and Intellectual Property
            </p>
            <p class="policy-terms-list-text">
              3.1. Course Materials: All course materials, including text,
              videos, graphics, and other content, are the intellectual property
              of EnglishExcellence or its licensors. You are granted a limited,
              non-exclusive, non-transferable license to access and use these
              materials for educational purposes only.
            </p>
            <p>
              3.2. Prohibited Use: You may not reproduce, distribute, modify,
              create derivative works of, publicly display, or perform any of
              our course materials without prior written consent from
              EnglishExcellence.
            </p>
          </li>
          <li class="policy-terms-list-item">
            <p class="policy-terms-list-subtitle">User Conduct</p>
            <p class="policy-terms-list-text">
              4.1. Respectful Behavior: EnglishExcellence maintains a respectful
              and inclusive learning environment. You agree not to engage in any
              behavior that is harmful, discriminatory, harassing, or disruptive
              to other learners or instructors.
            </p>
            <p>
              4.2. Compliance with Laws: You agree to comply with all applicable
              laws and regulations while using our Services.
            </p>
          </li>
          <li class="policy-terms-list-item">
            <p class="policy-terms-list-subtitle">Privacy</p>
            <p class="policy-terms-list-text">
              Your privacy is important to us. Our Privacy Policy explains how
              we collect, use, and protect your personal information. By using
              our Services, you consent to the collection and use of your
              information as described in our Privacy Policy.
            </p>
          </li>
          <li class="policy-terms-list-item">
            <p class="policy-terms-list-subtitle">Termination</p>
            <p class="policy-terms-list-text">
              EnglishExcellence reserves the right to suspend or terminate your
              access to our Services at its discretion, with or without cause.
            </p>
          </li>
          <li class="policy-terms-list-item">
            <p class="policy-terms-list-subtitle">Disclaimer of Warranties</p>
            <p class="policy-terms-list-text">
              Our Services are provided &#34;as is&#34; and &#34;as
              available.&#34; EnglishExcellence does not make any warranties,
              whether expressed or implied, regarding the accuracy, reliability,
              or availability of the Services.
            </p>
          </li>
          <li class="policy-terms-list-item">
            <p class="policy-terms-list-subtitle">Limitation of Liability</p>
            <p class="policy-terms-list-text">
              EnglishExcellence shall not be liable for any indirect,
              incidental, special, consequential, or punitive damages arising
              out of or in connection with the use of our Services.
            </p>
          </li>
          <li class="policy-terms-list-item">
            <p class="policy-terms-list-subtitle">Modifications to Terms</p>
            <p class="policy-terms-list-text">
              EnglishExcellence reserves the right to modify or update these
              Terms at any time. We will provide notice of such changes, and
              your continued use of our Services after the changes are posted
              will signify your acceptance of the modified Terms.
            </p>
          </li>
          <li class="policy-terms-list-item">
            <p class="policy-terms-list-subtitle">Contact Us</p>
            <p class="policy-terms-list-text">
              If you have any questions or concerns about these Terms or our
              Services please contact us at englishexcellence@gmail.com. These
              Terms of Service were last updated on August 31st 2023.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
